.your-component-wrapper {
    all: unset;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
    background: url('./background.png') no-repeat center center; 
    background-size: cover;
    min-height: 100vh; 
}

.login-container {
    position: relative;
    width: auto;
    height: 100%;
    backdrop-filter: blur(10px);
    justify-content: center;
    align-items: center;
}

.login-content {
    text-align: center;
    padding: 40px;
    background: rgba(0, 0, 0, 0.5); 
    border-radius: 10px; 
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); 
}

h1 {
    margin-bottom: 20px;
    color: #fff; 
}

p {
    margin-bottom: 20px;
    color: #fff; 
}

.user-name {
    display: block;
    margin-bottom: 20px;
    font-weight: bold;
    color: #fff; 
}

button {
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    font-size: 16px;
    margin: 5px;
    border-radius: 5px;
}

.login-button, .logout-button {
    background-color: transparent; 
    color: white; 
    border: 1px solid white; 
}

.login-button:hover, .logout-button:hover {
    opacity: 0.8; 
}

.dashboard-button {
    background-color: #28a745; 
    color: white; 
}

.dashboard-button:hover {
    opacity: 0.8; 
}