body{
    all: unset;
    top: 0;
    margin: 0;
    padding: 0;
    background-color: rgb(221, 239, 255);
}
.dashboard{
    display: flex;
    gap: 20px;

}

.dashboard--content{
    background: #fff;
    flex: 1;
    border-radius: 20px;
    padding: 2rem;
    /* display: flex; */
    gap: 1.5rem;
    margin: 1rem;
    width: 1200px;
    /* justify-content: space-between; */
}

.dashboard-main{
    display: flex;
    justify-content: space-between;
}