.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 10px 10%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000; 
}
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 200px;
    height: auto;
    margin-right: 10px;
}

.logo-text {
    font-size: 24px;
    color: #fff;
    font-weight: 700;
}

.navbar {
    display: flex;
    align-items: center;
}

.navbar a {
    position: relative;
    font-size: 16px;
    color: #fff;
    font-weight: 500;
    margin-left: 50px;
    text-decoration: none;
}

.navbar a::before {
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fff;
    transition: width 0.3s ease;
}

.navbar a:hover::before {
    width: 100%;
}
p{
    font-size: 10px;
    color: #fff;
}
button{
    background: transparent;
    border : 1px solid #fff;
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    cursor: pointer;
}
.navbar a .button{
transition: none;
}