.menu{
    display: flex;
    flex-direction: column;
    height: 94vh;
}

.head{
    font-size: 30px;
    padding-top: 10px;
    color: #27374d;
}

.logo{
    text-align: center;
    padding: 20px;
    color: #27374d;
    align-items: center;
    display: flex;
    gap: 20px;
}

.logo-icon{
    font-size: 30px;
    margin-left: 10px;
}

.icon{
    margin-right: 10px;
    font-size: 20px;
}

.logo .icon{
    font-size: 1.4rem;
}

.menu--list{
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding-left: 20px;
}

.menu--list .item{
    font-size: 17px;
    display: flex;
    align-items: center ;
    text-decoration: none;
    font-weight: 600;
    border: none;
    padding: 10px;
    border-radius: 10px;
    transition: 0.3sn ease-in-out;
    color: #293546;
}

.menu--list .item:hover{
    background: #27374d;
    color: #fff;
}